body {
    background-color: rgb(255, 255, 255);

position: absolute;
width: 505px;
height: 2136px;
left: 200px;
top: 76px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 109px;

color: #000000;


}
.body11 {
    height: 3200px;
}
 .prova0 {
    height: 100px;
 }

.header {
    height: 3540px;
}

nav{
    position: absolute;
    width: auto;
    height: auto;
left: 1%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
}
.camilo {
    position: absolute;
width: 505px;
height: 681px;
right: 0px;
top: 805px;

}
.nav1 {
    position: absolute;
width: 234px;
height: 61px;
left: 805px;
top: 569px;
color: #CBF063 ;
}
.timhome {
    position: absolute;
width: 505px;
height: 681px;
left: 530px;
top: 805px;

}
.titolocamillo {
    position: absolute;
width: 283px;
height: 48px;
left: 220px;
top: 1687px;
color: #000000;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 55px;
left: auto;
top: 1500px;
}
.titolotim {
    position: absolute;
width: 203px;
height: 48px;
left: 530px;
top: 1500px;
color: #000000;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 55px;
}
.karlotta {
    position: absolute;
width: 505px;
height: 681px;
right: 0px;
top: 1850px;

}
.xoana {
    position: absolute;
width: 505px;
height: 681px;
left: 530px;
top: 1850px;
}
.titolokarlotta {
    position: absolute;
width: 280px;
height: 48px;
left: 0px;
top: 2560px;
color: #000;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 9px;
}
.xoanatitolo {
    position: absolute;
width: 281px;
height: 48px;
left: 530px;
top: 2560px;
color: #000;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 9px;
}
.lin {
    position: absolute;
width: 505px;
height: 680px;
left: 0px;
top: 2776px;

}
.titololinn {
    position: absolute;
width: 191px;
height: 48px;
left: 0px;
top: 3483px;
color: #000;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 9px;
}
.laboca {
    position: absolute;
width: 505px;
height: 681px;
left: 530px;
top: 2776px;

}
.titololaboca {
    position: absolute;
width: 153px;
height: 48px;
left: 530px;
top: 3483px;
color: #000;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 9px;
}

.nav2 {
    position: absolute;
width: 234px;
height: 61px;
left: 805px;
top: 45px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
}
.bottonhome {
    position: absolute;
width: 96px;
height: 96px;
left: 200px;
top: 55px;

}
.pagcamilo {
    position: absolute;
width: 679px;
height: 116px;
left: 2px;
top: 321px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 116px;
text-align: center;
}

.nav3 {
    position: absolute;
width: 234px;
height: 61px;
left: 805px;
top: 45px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
color: #000000;
}

.header {
  color: #CBF063;
  
}
.header2 {
    background-color: ;
}
.p1 {
    position: absolute;
width: 862px;
height: 1272px;
left: px;
top: 568px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
}
.p2 {
    position: absolute;
    width: 862px;
    height: 172px;
    left: px;
    top: 808px;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}
.p3 {
    position: absolute;
    width: 862px;
    height: 1272px;
    left: px;
    top: 1050px;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}
.p4 {
    position: absolute;
    width: 862px;
    height: 1272px;
    left: px;
    top: 1300px;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}
.p5 {
    position: absolute;
    width: 862px;
    height: 1272px;
    left: px;
    top: 1550px;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}
.img1 {
    position: absolute;
width: 500px;
height: 400px;
left: 2px;
top: 1965px;
}
.img2 {
    position: absolute;
width: 502px;
height: 697px;
left: 555px;
top: 1965px;
}
.img3 {
    position: absolute;
width: 505.55px;
height: 310px;
left: 2px;
top: 2407px;
}
.pagtim {
    position: absolute;
width: 486px;
height: 350px;
left: 2px;
top: 321px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 116px;
text-align: center;
}
.imgtim {
    position: absolute;
width: 327px;
height: 395px;
left: 1px;
top: 1500px;
}
.imgtim2 {
    position: absolute;
width: 327px;
height: 394px;
left: 355px;
top: 1500px;

}
.imgtim3 {
    position: absolute;
width: 327px;
height: 395px;
left: 709px;
top: 1500px;
}
.p6 {
    position: absolute;
width: 856px;
height: 1041px;
left: 0px;
top: 1800px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
}
.imgkarlotta1 {
    position: absolute;
width: 505px;
height: 627px;
left: 0px;
top: 2100px;
}
.imgkarlotta2 {
    position: absolute;
width: 505px;
height: 505px;
left: 530px;
top: 2100px;
}
.imgkarlotta3 {
    position: absolute;
width: 505px;
height: 505px;
left: 530px;
top: 2630px;
}
.imgxoana1 {
    position: absolute;
width: 505px;
height: 717px;
left: 0px;
top: 1580px;
}
.imgxoana2 {
    position: absolute;
width: 506px;
height: 651px;
left: 530px;
top: 1646px;

}
.imgxoana3 {
    position: absolute;
    width: 505.55px;
    height: 310px;
    left: 0px;
    top: 2319px;
}
.body1 {

height: 2703px;
}
.paglinn {
position: absolute;
width: auto;
height: 2812px;
left: ;
top: 321px;
}
.imglin1 {
    position: absolute;
width: 519px;
height: 789px;
left: 0px;
top: 2152px;
}
.imglin2 {
    position: absolute;
width: 519.01px;
height: 789px;
left: 516px;
top: 2152px;

}
.imgboca1 {
    position: absolute;
width: 507px;
height: 353px;
left: 0px;
top: 1950px;

}
.imgboca2 {
    position: absolute;
width: 504px;
height: 665px;
left: 530px;
top: 1950px;
}
.imgboca3 {
    position: absolute;
width: 505px;
height: 351px;
left: 0px;
top: 2330px;
}
.titoloc {
    position: absolute;
width: 455px;
height: 131px;
left: px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 54px;
color: #CBF063;
top: 200px;
}
.titolop {
    position: absolute;
width: 934px;
height: 588px;
top: 450px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 42px;
}
.titolob {
    position: absolute;
width: 934px;
height: 588px;
top: 600px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 42px;
}
.titolon {
    position: absolute;
width: 934px;
height: 588px;
top: 750px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 42px;
}
.titoloq {
    position: absolute;
width: 934px;
height: 588px;
top: 1000px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 42px;

}
